@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@300;400;700&display=swap');
*{
    font-family: 'Noto Sans Display', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1F1D36;
    color: white;
}
.header{
    text-align: center;
    margin-top: 50px;
    display: block;

}
.header p{
    font-size: 18px;
    width: 40%;
    margin: auto;
    margin-top: 100px;
}
.header button{
    margin: 140px 0px;
    background-color: #6667ab;
    padding: 20px 60px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.header button:hover{
    background-color: #5d5ea7;
    transform: translateY(-4px);
    transition: 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.header footer, a{
    color: rgba(255, 255, 255, 0.342);
    text-decoration: none;
}


/* GAME VIEW  */

.gameview{
    text-align: center;
    margin-top: 50px;
    display: none;

}
.gameview h3{
    font-size: 28px;
    line-height:100px ;
}
.gameview input{
    width: 15%;
    margin: auto;
    background-color: white;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 20px;
    font-size:48px ;
    text-align: center;
    color: black;
}
.gameview button{
    margin: 40px 0px;
    background-color: #6667ab;
    padding: 20px 60px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

/* RESPONSIVE */

/* WIDE SCREEN */
@media screen and (max-width: 1400px) {
    .header p{
        width: 60%;
    }
    .gameview input{
        width: 30%;
    }
}


/* MOBILE PHONE */
@media screen and (max-width: 600px) {
    .header p{
        width: 80%;
    }
    .gameview{
        width: 90%;
        margin: auto;
        margin-top: 50px;
    }
    .gameview h3{
        line-height: 40px;
        font-size: 23px;
        margin: 20px 0px;
    }
    .gameview input{
        margin-top: 80px;
        width: 60%;
    }
}